<div style="text-align: left;">
<input type="hidden" name="destination" value="demographics.csv">
Спасибо!
Скажите специалисту, что вы закончили.

<p>

Уникальный код пациента (инициалы + год рождения)<br>
<input type="text" name="code" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>


Есть ли проблемы со слухом?
	<select name="hearing" style="position: absolute; left:20em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="hearing.ok">Нет</option>
		<option value="hearing.bad">Да</option>
	</select>
<p>


Слушали с помощью
	<select name="audio" style="position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="headphones">Наушников</option>
		<option value="speakers">Колонок</option>
		<option value="laptop.speakers">Встроенных колонок ноутбука</option>
		<option value="other">Другое</option>
	</select>
<p>



<P style="text-align: right;">
<input type="button" value="   send   " onClick="Experigen.recordResponse(this);">
	

</div>
